<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SAAS</title>
</head>
<body>
    
    <nav class="sticky top-0 z-10 w-full h-[10vh] mx-auto bg-slate-900 p-4">
        <div class="flex justify-between items-center text-white">
            <a href="#">SAAS</a>
            <div class="flex gap-x-4">
                <a href="{% url 'add_course' %}">CreateCourse</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
            
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>